<div class="about-us-container">
  <header class="about-us-header">
    <h1>O Bioskopu Popcornium</h1>
    <p>Vaša premijerna destinacija za nezaboravno filmsko iskustvo.</p>
  </header>

  <mat-card class="about-section">
    <mat-card-header>
      <div mat-card-title>Naša Priča</div>
    </mat-card-header>
    <mat-card-content>
      <p>
        Osnovan 2005. godine, bioskop Popcornium je počeo kao bioskop sa jednom salom u srcu Beograda, rođen iz strasti prema filmu i zajednici. Naš cilj je bio jednostavan: stvoriti mesto gde se ljubitelji filma mogu okupljati i doživeti čari bioskopa na najbolji mogući način. Tokom godina, prerasli smo u kompleks sa više sala, ali naše osnovne vrednosti su ostale iste.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-section">
    <mat-card-header>
      <div mat-card-title>Naša Misija</div>
    </mat-card-header>
    <mat-card-content>
      <div class="mission-item">
        <mat-icon>theaters</mat-icon>
        <p>Pružanje vrhunskog bioskopskog iskustva uz najnoviju tehnologiju projekcije i zvuka.</p>
      </div>
      <mat-divider></mat-divider>
      <div class="mission-item">
        <mat-icon>group</mat-icon>
        <p>Negovanje dobrodošlog i inkluzivnog prostora za sve filmske entuzijaste.</p>
      </div>
      <mat-divider></mat-divider>
      <div class="mission-item">
        <mat-icon>local_activity</mat-icon>
        <p>Nudimo raznovrstan izbor filmova, od blokbaster hitova do nezavisnih dragulja i međunarodne kinematografije.</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>