<mat-card class="cart-card">
  <h2>Korpa</h2>
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Naslov filma</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.movieTitle }}</td>
    </ng-container>

    <ng-container matColumnDef="hall">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Dvorana</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.hallId }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Datum projekcije</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.projectionDate }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Vreme</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.projectionTime }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Cena (po karti)</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.pricePerTicket }}</td>
    </ng-container>

    <ng-container matColumnDef="numOfTickets">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Broj karata</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.numberOfTickets }}</td>
    </ng-container>

    <ng-container matColumnDef="sumPrice">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Ukupna cena</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.ticketPriceSum }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Status</th>
      <td class="cell-content" mat-cell *matCellDef="let element">{{ element.ticketStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Akcija</th>
      <td mat-cell *matCellDef="let element" class="mat-column-action">
        <button mat-button
                matTooltip="Obrišite narudžbinu iz korpe"
                matTooltipPosition="below"
                style="color: darkorange"
                (click)="removeItem(element.CartItemId)"><i class="fa-solid fa-trash-can"></i></button>
        <button mat-button
                matTooltip="Otkažite porudžbinu"
                matTooltipPosition="below"
                style="color: darkred"
                (click)="cancelReservation(element.CartItemId)"><i class="fa-solid fa-ban"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-divider></mat-divider>
  <div class="empty-cart" *ngIf="!orders || orders.length === 0">
    <p>Vaša korpa je prazna.</p>
  </div>

  <h2 *ngIf="totalReservedPrice > 0" >Plaćanje</h2>

  <div class="payment-stepper" *ngIf="totalReservedPrice > 0">
    <mat-stepper orientation="horizontal" [linear]="true" #stepper>
      <mat-step [stepControl]="paymentOptionFg">
        <form [formGroup]="paymentOptionFg">
          <ng-template matStepLabel><p style="color: white">Način plaćanja</p></ng-template>
          <mat-radio-group formControlName="paymentMethod" aria-label="Odaberite način plaćanja">
            <mat-radio-button
                value="1"><p style="color: white"><i class="fa-solid fa-credit-card"></i> Online plaćanje karticom</p></mat-radio-button>
            <mat-radio-button
                value="2"><p style="color: white"><i class="fa-solid fa-cash-register"></i> Plaćanje na šalteru bioskopa</p></mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperNext>Dalje</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="contactInfoFg">
        <form [formGroup]="contactInfoFg">
          <ng-template matStepLabel><p style="color: white">Podaci korisnika</p></ng-template>
          <mat-form-field>
            <mat-label>Ime i prezime</mat-label>
            <input matInput placeholder="Petar Petrovic" formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Broj telefona</mat-label>
            <input matInput placeholder="+381601234567" formControlName="phoneNumber" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adresa</mat-label>
            <input matInput placeholder="" formControlName="address" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Dalje</button>
            <button mat-button matStepperPrevious>Nazad</button>
          </div>
        </form>
      </mat-step>
      <mat-step *ngIf="(paymentOptionFg.get('paymentMethod')?.value == 1)"
          [stepControl]="cardInfoFg"
          [optional]="!(paymentOptionFg.get('paymentMethod')?.value == 1)">

        <form [formGroup]="cardInfoFg">
          <ng-template matStepLabel><p style="color: white">Podaci kartice</p></ng-template>
          <mat-form-field>
            <mat-label>Ime na kartici</mat-label>
            <input matInput placeholder="" formControlName="cardholderName" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Broj kartice</mat-label>
            <input matInput placeholder="" formControlName="cardNumber" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>CCV</mat-label>
            <input matInput placeholder="" formControlName="ccv" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Datum isteka</mat-label>
            <input matInput placeholder="09/27" formControlName="expirationDate" required>
          </mat-form-field>
          <div>

            <button mat-button matStepperPrevious>Nazad</button>
            <button mat-button matStepperNext>Dalje</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel><p style="color: white">Realizacija</p></ng-template>
        <div class="total-amount-notif" *ngIf="paymentOptionFg.get('paymentMethod')?.value == 1">Vaša kartica će biti zadužena za {{ totalReservedPrice + ' RSD.' }}</div>
        <div class="total-amount-notif" *ngIf="paymentOptionFg.get('paymentMethod')?.value == 2">Vaš račun iznosi  {{
            totalReservedPrice + ' RSD.' }}</div>
        <div>
          <button mat-raised-button style="background-color: #6AB7F6; color: whitesmoke" (click)="payAllReserved()">Potvrdi</button>
          <button mat-button matStepperPrevious>Nazad</button>
          <button mat-button (click)="stepper.reset()">Resetuj</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</mat-card>








