<!--<p>-->
<!--  <a routerLink="/">Home</a> | <a routerLink="/about">About</a>-->
<!--</p>-->

<mat-toolbar>
  <span><i class="fa-solid fa-bowl-food"></i> Popcornium</span>
  <span class="spacer"></span>

  <a routerLink="/" mat-button>
    <span class="link-name">Home</span>
  </a>
  <a routerLink="/about" mat-button>
    <span class="link-name">About</span>
  </a>
  <a routerLink="/search" mat-button>
    <span class="link-name">Pretraga</span>
  </a>

  <a routerLink="/login" mat-button>
    <span class="link-name">Prijava</span>
  </a>
</mat-toolbar>

<router-outlet/>
