html, body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: antiquewhite;
}

/*h1, h2, h3, h4, h5, h6, a, p, span {*/
/*  color: white;*/
/*}*/

mat-button{
  color: white !important;
}

