<div class="spinner-container" *ngIf="!movies && !error">
  <mat-spinner diameter="200"></mat-spinner>
  <h3>Prikupljamo podatke o filmovima...</h3>
</div>

<div class="movieList" *ngIf="movies">
  <mat-card *ngFor="let movie of movies" class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{movie.poster}}" alt="Movie poster">
    <mat-card-content>
      <p>
        {{movie.shortDescription}}
      </p>

      <mat-chip-set class="genres">
        <mat-chip *ngFor="let genre of movie.movieGenres"><p>{{genre.genre.name}}</p></mat-chip>
      </mat-chip-set>

    </mat-card-content>
    <mat-card-actions>
      <a mat-button class="details-button" [routerLink]="['/movie', movie.shortUrl]"><i class="fa-solid fa-arrow-up-right-from-square"></i> Detaljnije</a>
    </mat-card-actions>
  </mat-card>
</div>



