
.movie-title{
  text-align: center;
  width: 100%;
  color: white;
}

.card-header {
  display: flex;
  justify-content: center;
}

.movie-card {
  width: 80%;
  height: auto;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #212121;
  color: mintcream;
}


.movie-main-section {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.comment-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}


h2{
  justify-content: center;
  display: flex;
}

.comment-item {
  width: 100%;
  background-color: #272727;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 12px;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grade-input-container {
  width: 81.5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px auto;
}

.comment-field {
  width: 100%;
}

.star-rating {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.spinner-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actors-container {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row !important;
  gap: 5px;
  justify-content: flex-start;
}

.movie-info {
  margin-top: 12px;
  font-size: 1.1rem;
  display: inline-grid;
}

.movie-info .info-item {
  margin: 4px;
}

.info-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.info-item i {
  margin-right: 10px;
}

.info-row {
  margin: auto 6px;
}
.button-chip {
  font-size: 0.85em;
  font-weight: 500;
  color: white;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #6b6b6b;
  background-color: #212121;
  text-wrap: nowrap;
}

.pc-logo {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

.grade-container-v2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.grade-item {
  background-color: #212121;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.grade-data {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.other-logo {
  margin-top: 20px;
}
.trailer {
  height: 500px;
  min-width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.other-ratings {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 0 !important;
}

.other-ratings h5{
  gap: 0;
  margin: 10px 0 0 0;
}

/*Ticket form*/
.ticket-container {
  padding: 1rem;
}

.ticket-form {
  width: 100%;
}

.ticket-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.ticket-price-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.ticket-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 17px;
}

mat-form-field{
  color: #007bff;
}

.mat-mdc-text-field-wrapper {
  background-color: #007bff !important;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-weight: 600;
  margin-bottom: 4px;
}

.value {
  font-size: 1.1rem;
}

mat-divider[vertical] {
  height: 60px;
  align-self: center;
}