<div class="register-container">
  <h2>Register</h2>

  <mat-form-field appearance="fill">
    <mat-label>Ime</mat-label>
    <input matInput type="text" [(ngModel)]="firstName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prezime</mat-label>
    <input matInput type="text" [(ngModel)]="lastName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mejl adresa</mat-label>
    <input matInput type="email" placeholder="petarpetrovic@popcornium.com" [(ngModel)]="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Broj telefona</mat-label>
    <span matPrefix>+381&nbsp;</span>
    <input matInput type="tel" placeholder="" [(ngModel)]="phoneNumber" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Adresa</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="address" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lozinka</mat-label>
    <input matInput type="password" placeholder="" [(ngModel)]="password" required>
  </mat-form-field>


  <button mat-raised-button color="primary" (click)="onSubmit()">Registruj se</button>
</div>
